/* Base styles for mobile devices */
body {
    font-size: 16px;
    margin: 0;
    padding: 10px;
}

/* Styles for Headings */
h1 {
    color: #4a772e;
    font-size: 24px;
    font-weight: bold;
}
h2 {
    color: #000000;
    font-size:22px;
    font-weight: bold;
}
h3 {
    color: #000000;
    font-size:20px;
    font-weight: bold;
}
h4, h5, h6 {
    color: #000000;
    font-weight: bold;
}

/* Text */
.text-sm{
    font-size:14px;
}
.text-xs {
    font-size:12px;
}

/* Tabelle */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #1e3b20;
    color:white;
}

.table .category-head{
    background-color: #4a772e;
    color: white;
    font-weight: bold;
}

/* Buttons */
.btn {
    background-color: #4a772e;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #3b5e23;
}

/* Zutaten-Buttons */ 
.ingredient-btn {
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}

.patties {
    background-color: #ac4343;
}

.patties:hover {
    background-color: #8b3535;
}

.vegetables {
    background-color: #4a772e;
}

.vegetables:hover {
    background-color: #3b5e23;
}

.breads {
    background-color: #d9a441;
}

.breads:hover {
    background-color: #b78334;
}

.toppings {
    background-color: #7a4aa3;
}

.toppings:hover {
    background-color: #613880;
}

.sauces {
    background-color: #d9744a;
}

.sauces:hover {
    background-color: #b35f3a;
}

/* Columns */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
[class^="col-"] {
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
}

/* Styles for tablets */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size:24px;
    }
    h3 {
        font-size:22px;
    }
    h4, h5, h6 {
        font-size:18px;
    }
    .text-sm{
    font-size:16px;
    }
}

/* Styles for desktops */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size:28px;
    }
    h3 {
        font-size:24px;
    }
    h4, h5, h6 {
        font-size:20px;
    }
    .text-sm{
        font-size:18px;
    }
    
    /* rows & columns */
    .col-1 {
        width: 8.33%;
        display: inline-block;
    }

    .col-2 {
        width: 16.66%;
        display: inline-block;
    }
    
    .col-3 {
        width: 25%;
        display: inline-block;
    }
    
    .col-4 {
        width: 33.33%;
        display: inline-block;
    }

    .col-5 {
        width: 41.66%;
        display: inline-block;
    }

    .col-6 {
        width: 50%;
        display: inline-block;
    }

    .col-7 {
        width: 58.33%;
        display: inline-block;
    }

    .col-8 {
        width: 66.66%;
        display: inline-block;
    }

    .col-9 {
        width: 75%;
        display: inline-block;
    }

    .col-10 {
        width: 83.33%;
        display: inline-block;
    }

    .col-11 {
        width: 91.66%;
        display: inline-block;
    }

    .col-12 {
        width: 100%;
        display: inline-block;
    }
}




